.imageContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-top: 60px;
}
.wrapper_img_title {
  position: relative;
  cursor: pointer;
  transition: .2s;

}
.img_basic:hover {
  box-shadow: 0px 4px 80px 0px rgba(113, 133, 164, 0.5);
  margin-top: -30px;
  transition: .2s;
  border-radius: 10px;
}

.img_basic {
  width: 340px;
  height: 524px;
  border-radius: 10px;
}

.overlayText {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white; /* Цвет текста */
  font-size: 40px; /* Размер шрифта */
  font-weight: bold; /* Жирный текст, если нужно */
  /* Другие стили по необходимости */
}
