.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
}

.header_nav {
    font-size: 16px;
     cursor: pointer;
    margin-left: 91px;

}

.header_navOne {
     cursor: pointer;
}

.wrapper_nav_log {
    display: flex;
    align-items: center;
}

.login {
    width: 87px;
    height: 36px;
    margin-top: 27px;
    border-radius: 8px;
    background: #84EDF8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A4359;
    cursor: pointer;
}